del{
    display: none;
}
ins, del {
    text-decoration: none;
}
.sampdel, .del {
    background-color: #ffbbbb;
    display: inline;
}
.sampins, .ins {
    background-color: #bbffbb
}
.sampdel:after, .sampdel:before, .del:after, .del:before {
    /* down-arrow */
    content:"\002193";
}
.sampins:after, .sampins:before, .ins:after, .ins:before {
    /* up-arrow */
    content:"\002191";
}
.sampdel, .sampins {
    font-family: sans-serif;
}
